LM/Trabajo 1/APPLE.dtd

<!ELEMENT APPLE (ORDENADORES,TABLET,MOVILES,OTROS_PRODUCTOS)>
<!ELEMENT ORDENADORES (MACBOOK+)>
<!ATTLIST ORDENADORES importancia (3|2|1) "3">
<!ELEMENT MACBOOK (COMPONENTES)>
<!ATTLIST MACBOOK nombre NMTOKEN #REQUIRED>
<!ELEMENT COMPONENTES (PANTALLA|PROCESADOR|RAM|PESO|CONECTOR|COMPATIBILIDADES)*>
<!ATTLIST COMPONENTES generacion CDATA #IMPLIED>
<!ELEMENT PANTALLA (#PCDATA)>
<!ATTLIST PANTALLA pulgadas CDATA #REQUIRED>
<!ELEMENT PROCESADOR (#PCDATA)>
<!ATTLIST PROCESADOR CPU CDATA #IMPLIED>
<!ELEMENT RAM (#PCDATA)>
<!ELEMENT PESO (#PCDATA)>
<!ELEMENT TABLET (IPAD+)>
<!ATTLIST TABLET importancia CDATA #REQUIRED>
<!ELEMENT IPAD (COMPONENTES)>
<!ATTLIST IPAD nombre NMTOKEN #IMPLIED>
<!ELEMENT CONECTOR (#PCDATA)>
<!ELEMENT COMPATIBILIDADES (#PCDATA)>
<!ELEMENT MOVILES (IPHONE)>
<!ATTLIST MOVILES importancia CDATA #REQUIRED>
<!ELEMENT IPHONE (FECHA_SALIDA,PANTALLA,(PROCESADOR|BATERIA),PRECIO)>
<!ATTLIST IPHONE nombre CDATA #REQUIRED>
<!ATTLIST IPHONE SERIAL ID #REQUIRED>
<!ELEMENT FECHA_SALIDA EMPTY>
<!ATTLIST FECHA_SALIDA año NMTOKEN #REQUIRED>
<!ATTLIST FECHA_SALIDA mes NMTOKEN #REQUIRED>
<!ATTLIST FECHA_SALIDA dia NMTOKEN #REQUIRED>
<!ELEMENT BATERIA (#PCDATA)>
<!ELEMENT PRECIO (MIN,MAX)?>
<!ATTLIST PRECIO producto IDREF #REQUIRED>
<!ELEMENT MIN (#PCDATA)>
<!ELEMENT MAX (#PCDATA)>
<!ELEMENT OTROS_PRODUCTOS (APPLE_TV,AppleCare)>
<!ELEMENT APPLE_TV ANY>
<!ELEMENT AppleCare ANY>
<!ENTITY euro "€">